*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.logo{
    padding: 1rem 0.8rem;
}
.sidebar-main{
    /* width: 17% !important; */
    height: 100vh;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #9B9A9B;
}
.sidebar-btn{
    padding: 0.5rem 1.1rem;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #fff;
    font-weight: 500;   
    font-size: 14px;
    margin: 0 1rem;
    font-family: vishalMedium;
}
.side-btn{
    border: none;
    background: transparent;
    font-size: 15px;
    font-weight: 500;
}
.plus-icon{
    color: rgb(143, 140, 140);
}
.icon-sidebar-main, .text-sidebar-main{
    color: lightgrey;
    margin: 0.4rem 10px;
    font-size: 17px;
    font-family: vishalRegular;
}
.text-sidebar-main{
color: lightgrey;
margin: 0.4rem 10px;
font-size: 16px;
font-weight: 500;
}
.text-sidebar-main:hover{
    color: #fff;
}
.icon-sidebar-main:hover{
    color: #fff;
}
.log-out{
    position: absolute;
    bottom: 2rem;
    width: 8.5%;
    padding: 0.5rem 1rem;
    font-family: vishalMedium;
}

.customer-main{
background-color: #f5f5f5;
margin-top: -1rem;
padding: 0.6rem;
}

.customer-heading{
margin: 0.1rem 0.8rem;
font-size: 1.2rem;
font-weight: 600;
padding: 0.6rem 1rem;
}
.customer-heading-items{
margin: 0.4rem 0.2rem;
/* font-weight: 600; */
font-family: vishalBold;

}
.cus-data{
    margin: 0.4rem 1rem;
}
.customer-name{
    margin-left: 1rem;
    font-size: 15px;
    font-family: vishalRegular;
}
.customer-number{
    margin-left: 2rem;
    font-size: 15px;
    font-family: vishalRegular;
}
.customer-date, .customer-total{
margin-left: 1rem;
font-size: 15px;
font-family: vishalRegular;
}

.invoice{
    background-color: #9A9A9A;
    border-radius: 12px;
    /* height: 100vh; */
}
.invo-data{
    /* margin-bottom:50px; space from border to next element */
    padding-bottom:10px;
    padding-top: 10px;
    border-bottom: 1px solid #fff;
    border-bottom-style: 2px;
}
.invo-data1{
    padding-bottom:10px;
    padding-top: 10px;

}
.heading-onvo{
    margin-top: 0.6rem;
}
.invoice-data, .heading-invoice{
    color: #fff;
    font-family: vishalMedium;
    margin: 0 1.3rem;
    font-weight: 500;
    font-size: 13px;
}
.heading-invoice{
    padding: 0.6rem 0;
    font-size: 1.2rem;
}
.total-invoice{
    width: 100%;
    background-color:#868687;
padding: 0.5rem 1rem;
border-end-end-radius: 12px;
border-end-start-radius: 12px;
}
.header-main{
    width: 97%;
    margin-top: 1rem;
}
.search-header-icon{
    width: 20px;
}
.header-logo-main{
    font-size: 1.3rem;
    /* font-weight: 600; */
    font-family: vishal;
    letter-spacing: 1px;
}
.search-header-icon{
width: 20px;
color: darkgray;
/* top: 1rem; */
right: 32rem;
top: 2rem;
position: absolute;
}

.vl{
    height: 50px;
    border-left: 3px solid grey;
}
.search-input-field{
    /* width: 200px; */
    outline: none;
    border: none;
}
.user-header-name{
    margin: 1rem 1rem;
    font-size: 15px;
    /* font-weight: 500; */
    font-family: vishalMedium;
}
.user-header-img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.bell-icon{
    margin: 1rem;
}
.overview-main{
background-color: #F5F5F5;
border-radius: 15px;
margin: 0 1.5rem;
}

.assemble-outstanding-invoice{
    margin: 0 2.8rem;
}
.assemble-recent-customer{
    margin: 0 1.5rem;
}
.overview-box-datas{
    background-color:#EDEDED ;
}

.overview-heading-data{
    font-size: 1.1rem;
    font-weight: 500;
    font-family: Semibold;
}
.overview-data{
    /* padding: 1rem 0; */
    padding-bottom:1rem;
}
.over-view-time{
    font-size: 13px;
    background-color: #fff;
    padding: 0.5rem 0.7rem;
    border-radius: 20px;
}
.overview-box-datas{
    padding: 1.8rem 3.7rem;
    border-radius: 10px;
}
 .overview-box-datas-value {
    margin-left: -1.8rem;
    margin-top: 0.5rem;
    font-size: 1.8rem;
    font-weight: 600;
}
.overview-box-datas-type{
    margin-left: -1.7rem;
    font-size: 11px;
    margin-top: -0.3rem;
    
}
.overview-box-datas-icon{
    margin-left: 0.4rem;
}
.svg-div{
    width: 40px;
    height: 30px;
    border-radius: 30%;
    margin-left: -1.8rem;
    background-color: rgb(217, 214, 214);
    padding: 0.2rem 0;
}
.basic-bar{
    border-radius: 100px;
}
.header-Assemble{
    width: 100%;
}
.customer-main{
    border-radius: 15px;
    margin-top: 0.8rem;
}
/* .customer-heading{
    padding: 0.6rem 0;
} */
.chart-main{
    background-color: #f5f4f4;
    margin-top: 0.7rem;
    border-radius: 15px;
}
.recent-heading{
    font-family: vishalRegular ;
}
